@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  background-color: #1a1a1c; 
  color: #fff;
  font-family: 'Poppins';
}  
img{
  height: 50%; 
  width: 4%;    
  margin: 2vh;
  background-color: #31302E;
}
p{ 
  margin-top: 3vh;
  margin-left:1vw;     
  margin-right: 1vw; 
  width: 13%;
  background-color: #31302E;
} 
